body {
    font-family: Arial, sans-serif;
    margin: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 1px 12px;
    text-align: left;
}

th {
    vertical-align: top;
    background-color: #f2f2f2;
}

input {
    border: 1px solid #ccc;
}

label {
    font-weight: normal;
}

.nowrap {
    width: 4%;
    white-space: nowrap;
    text-align: center;
}

.deleted {
    color: red;
}

.modified {
    color: darkblue;
}

.grey {
    color: grey;
}

#result {
    margin-top: 15px;
    font-weight: bold;
    color: darkblue;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #222;
        color: #fff;
    }

    th {
        background-color: #444;
    }

    input {
        background-color: #000;
        color: #fff;
    }

    .modified {
        color: lightblue;
    }

    #result {
        color: lightblue;
    }
}